<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.xmasshop.domain.order.mapper.OrderMapper">


    <select id="selectAllOrders" resultType="OrdersTO">
        SELECT * FROM orders;
    </select>

    <resultMap id="orderDetail" type="OrderDetailTo">
        <collection property="product_id" column="product_id" ofType="OrderDetailTO" select="selectOneItem"/>
    </resultMap>

    <select id="selectOneItem" resultType="ItemsTO">
        select * from product where id=#{id};
    </select>

    <select id="selectOrderDetailsById" resultMap="orderDetail">
        SELECT id, order_id, product_id, quantity FROM detail where order_id = #{id};
    </select>

</mapper>