<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.xmasshop.domain.product.mapper.ProductMapper">

    <select id="categoryAll" resultType="itemclassificationto">
        select id, name
        from category
    </select>
    <insert id="insertProduct" parameterType="itemsto" >
        insert into product (id, name, description, price, category, image_name)
        values (0, #{name}, #{description}, #{price}, #{category.id}, #{img_name})
    </insert>

    <insert id="updateProductOldImage" parameterType="itemsto" >
        update product
        set name=#{name}, description=#{description}, price=#{price}, category=#{category.id}
        where id=#{id}
    </insert>

    <insert id="updateProductNewImage" parameterType="itemsto" >
        update product
        set name=#{name}, description=#{description}, price=#{price}, category=#{category.id}, image_name=#{img_name}
        where id=#{id}
    </insert>

    <resultMap id="Items" type="ItemsTo">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="price" property="price"/>
        <result column="image_name" property="img_name"/>
        <collection column="category" property="category" ofType="ItemClassificationTO" select="selectCategoryById"/>
    </resultMap>

    <select id="selectCategoryById" resultType="ItemClassificationTO">
        select distinct * from category where id = #{id};
    </select>

    <select id="selectAll" resultMap="Items">
        SELECT p.id,p.name,p.price,p.image_name,p.category FROM product p join category c on c.id = p.category;
    </select>

    <select id="selectOneItem" resultMap="Items">
        SELECT p.id,p.name,p.price,p.image_name, p.description, p.category FROM product p join category c on c.id = p.category where p.id=#{id};
    </select>

    <delete id="deleteItem" parameterType="int">
        DELETE from product where id=#{id};
    </delete>


</mapper>